<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>todoru.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>273EF3C41D13BBF500ED5A41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>273EF3D81D13BBF500ED5A41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>273EF3E31D13BBF500ED5A41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
